@charset "UTF-8";

/* 共通部分 */

html {
    font-size: 100%;
}

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #8e775d;
}

a {
    text-decoration: none;
    color: #8e775d;
}

a:hover {
    opacity: 0.7;
}

p {
    letter-spacing: 0.05rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

.wrap {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
}

.site-title {
    font-family: 'Itim', cursive;
    font-weight: normal;
    padding: 10px 0;
    line-height: 1;
}

.site-title a {
    display: block;
}

.section-title {
    font-family: 'Itim', cursive;
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 10px;
}

#work-sample .section-title {
    font-size: 1.75rem;
    text-align: left;
    padding: 0 0 0 15px;
    border-left: 5px solid #8e775d;
}

.content-title {
    font-weight: normal;
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 5px;
}

#work-sample .content-title {
    padding: 0 0 0 15px;
    border-left: 5px solid #8e775d;
}

#work-sample p {
    text-align: left;
}

#work-sample .work-img {
    margin-bottom: 20px;
}

#work-sample {
    margin-bottom: 100px;
}

/* ヘッダー */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-nav {
    display: flex;
    font-size: 1.25rem;
    padding: 10px 0;
}

.main-nav li {
    margin-left: 36px;
}

/* メインビジュアル  */

.main-visual {
    background-image: linear-gradient(#e4c6a6, #e6cd8c);
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}

#inner {
    height: 160px;
}

.page-title {
    font-size: 3.5rem;
    font-family: 'Itim', cursive;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    padding: 272px 0;
}

#inner .page-title {
    padding: 52px 0;
    line-height: 1;
}

/* ABOUT  */

#about {
    margin-bottom: 100px;
}

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    width: 150px;
    border-radius: 50%;
}

#about .text {
    text-align: left;
    margin-left: 30px;
}

/* WORKS  */

#works {
    margin-bottom: 100px;
}

#works ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#works li {
    width: 32%;
    margin-bottom: 30px;
}

#works p {
    text-align: left;
}

#works .content-title a {
    color: #8e775d;
}

#works .content-title a:hover {
    opacity: 0.7;
}

 /* WORKS-SAMPLE  */



/* CONTACT  */

#contact {
    margin-bottom: 100px;
}

#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#contact dt {
    width: 10%;
    text-align: left;
}

#contact dd {
    width: 90%;
    margin-bottom: 10px;
}

#contact dd input,
#contact dd textarea {
    width: 100%;
    border: 1px solid #8e775d;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact button {
    text-align: center;
    width: 200px;
    background-color: #8e775d;
    color: #fff;
    padding: 15px 0;
    border: 1px solid #8e775d;
}

#contact button:hover {
    background-color: #fff;
    color: #8e775d;
}

/* フッター */

footer {
    padding: 20px 0;
    text-align: center;
    font-size: 0.875rem;
    background-color: #8e775d;
    color: #fff;
}

/* スマホ  */

@media screen and (max-width: 600px) {
    /* ヘッダー */

    .page-header {
        flex-direction: column;
    }

    .main-nav li:first-child {
        margin-left: 0;
    }

    /* メインビジュアル  */

    .main-visual {
        margin-bottom: 50px;
    }

    #home .page-title {
        padding: 216px 0;
    }

    #inner {
        height: 80px;
    }

    #inner .page-title {
        font-size: 2.5rem;
        padding: 20px 0;
    }

    /* ABOUT  */

    #about .content {
        flex-direction: column;
    }

    #about .text {
        margin-left: 0;
        margin-top: 15px;
        text-align: justify;
    }

    /* WORKS  */

    #works ul {
        flex-direction: column;
    }

    #works li {
        width: 100%;
    }

    /* CONTACT  */

    #contact dl {
        flex-direction: column;
    }

    #contact dt,
    #contact dd {
        width: 100%;
    }

     /* WORKS-SAMPLE  */

    #work-sample .section-title {
        font-size: 1.25rem;
        padding: 0 0 0 10px;
    }

    #work-sample .content-title {
        font-size: 1.125rem;
        padding: 0 0 0 10px;
    }
}
